div.tabela{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid #ddddd;
    text-align: left;
    padding: 8px;
}

tr.tr:nth-child(even){
    background-color: #dddddd;
}
